*{
  margin: 0;
  padding:0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}

.grid-item {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

header {
  background-color: #535044;
  font-size: 2.5vw;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 10px solid #d6d2c0;
}

.menu {
  width: 25vw;
  display: flex;
  float:right;
  justify-content: space-between;
  padding-bottom: 2px;
}

body {
  background-color: white;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

h1 {
  font-size: 45px;
  text-align: center;
  padding:2%;
  color: #535044;
}

h2 {
  font-size: 30px;
  color: #535044;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}
p {
  font-size: 22px;
  line-height: 1.5;
  font-style: italic;
}

a:link {
  text-decoration: none;
  color:white;
  font-style: normal;
}
  
a:visited {
  text-decoration: none;
  color:white;
  font-style: normal;
}
  
a:hover {
  text-decoration: none;
  color:white;
  font-style: normal;
}
  
a:active {
  text-decoration: none;
  color:white;
  font-style: normal;
}

.maintext {
  font-style: italic;
}

footer {
  text-align: center;
  background-color: #535044;
  color: white;
  font-size: 22px;
  line-height: 1.5;
  padding: 20px;
  margin-top: 20px;
  border-top: 10px solid #d6d2c0;
}

.footerlink {
  font-style: italic;
  text-decoration: underline;
}