*{
  margin: 0;
  padding:0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-bottom: 0px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 4;
  max-width:80%;
  height:auto;
  display: flex;
}

header {
  background-color: #444953;
  font-size: 2.5vw;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 15px solid #C0C7D6;
}

.menu {
  width: 25vw;
  display: flex;
  float:right;
  justify-content: space-between;
  padding-bottom: 2px;
}

body {
  background-color: white;  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

h1 {
  font-size: 45px;
  text-align: center;
  padding-bottom:2%;
  color: #444953;
}

h2 {
  font-size: 25px;
  color: #444953;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

a:link {
  text-decoration: none;
  color:white;
  font-style: normal;
}
  
a:visited {
  text-decoration: none;
  color:white;
  font-style: normal;
}
  
a:hover {
  text-decoration: none;
  color:white;
  font-style: normal;
}
  
a:active {
  text-decoration: none;
  color:white;
  font-style: normal;
}

footer {
  text-align: center;
  background-color: #444953;
  color: white;
  font-size: 22px;
  line-height: 1.5;
  padding: 20px;
  margin-top: 20px;
  font-style: italic;
  border-top: 15px solid #C0C7D6;
}

.footerlink {
  font-style: italic;
  text-decoration: underline;
}