*{
  margin: 0;
  padding:0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-bottom: 0px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 4;
  max-width:80%;
  height:auto;
  display: flex;
}

header {
  background-color: #535044;
  font-size: 2.5vw;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom: 10px solid #d6d2c0;
}

.menu {
  width: 25vw;
  display: flex;
  float:right;
  justify-content: space-between;
  padding-bottom: 2px;
}

body {
  background-color: white;  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

h1 {
  font-size: 40px;
  text-align: center;
  padding:2%;
  color: #535044;
}

h2 {
  font-size: 25px;
  color: #535044;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

a:link {
  text-decoration: none;
  color:white
}
  
a:visited {
  text-decoration: none;
  color:white
}
  
a:hover {
  text-decoration: none;
  color:white
}
  
a:active {
  text-decoration: none;
  color:white
}

footer {
  text-align: center;
  background-color: #535044;
  color: white;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
  margin-top: 20px;
  font-style: italic;
}